@using Infrastructure.Common
<div style="padding: 10px">
    <p style="font-size: 20px">@Discussions.Count Reply</p>
</div>

<div>
    @foreach (var discussionResponse in Discussions)
    {
        <div class="discussion mt-5">
            <table class="mt-2">
                <tr>
                    <td rowspan="2">
                        <MudImage Src="@(Path.Combine("uploads", "avatars", discussionResponse.User?.Avatar ?? Constants.c_DefaultAvatar))"
                                  Width="50" Height="50" Elevation="25" Style="border-radius: 5px"/>
                    </td>
                    <td>
                        <span class="ms-3">
                            <strong>@discussionResponse.User?.Email</strong>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="ms-3">
                            @discussionResponse.CreatedDate.BeautifyDate()
                        </span>
                    </td>
                </tr>
            </table>
            <div class="mt-4">
                @((MarkupString)discussionResponse.Message)
            </div>
            @if (discussionResponse.Attachments?.Count > 0)
            {
                <div class="attachment mt-5">
                    <div>
                        <strong>Attachments</strong>
                    </div>
                    <div class="mt-2">
                        <MudGrid>
                            @foreach (var attachmentResponse in discussionResponse.Attachments)
                            {
                                <MudItem>
                                    <MudButton Download="@attachmentResponse.FileName"
                                               Href="@attachmentResponse.ServerFileName"
                                               Variant="Variant.Outlined"
                                               StartIcon="@Icons.Material.Filled.CloudDownload"
                                               Color="Color.Primary">
                                        @attachmentResponse.FileName
                                    </MudButton>
                                </MudItem>
                            }
                        </MudGrid>
                    </div>
                </div>
            }
        </div>
    }
</div>

@code {
    [Parameter] public List<DiscussionResponse> Discussions { get; set; } = [];
}